.podcast {
    &-container {
        padding: 10px;
        display: flex;
        justify-content: space-between;
    }
    &-header {
        margin-left: 20px;
    }
    &-list {
        &-container {
            margin-top: 10px;
        }
    }
}